---
# Source: application-generator/templates/applicationset.yaml
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ephemeral-test-frigate
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: homelab-apps:test-frigate
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - pullRequest:
      github:
        # The GitHub organization or user.
        owner: syoder89-homelab
        # The Github repository
        repo: homelab-apps
      filters:
      - targetBranchMatch: "^env/test/frigate$"
      requeueAfterSeconds: 180
  template:
    metadata:
      name: "pr-{{ .number }}-test-frigate"
      namespace: argocd
      annotations:
        kargo.akuity.io/authorized-stage: homelab-apps:test-frigate
    spec:
      destination:
        name: in-cluster
        namespace: "pr-{{ .number }}-frigate"
      project: apps
      source:
        directory:
          recurse: true
        path: deploy/
        repoURL: https://github.com/syoder89-homelab/homelab-apps
        targetRevision: "{{ .head_sha }}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
---
# Source: application-generator/templates/applicationset.yaml
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ephemeral-test-grafana-scott
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: homelab-apps:test-grafana-scott
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - pullRequest:
      github:
        # The GitHub organization or user.
        owner: syoder89-homelab
        # The Github repository
        repo: homelab-apps
      filters:
      - targetBranchMatch: "^env/test/grafana-scott$"
      requeueAfterSeconds: 180
  template:
    metadata:
      name: "pr-{{ .number }}-test-grafana-scott"
      namespace: argocd
      annotations:
        kargo.akuity.io/authorized-stage: homelab-apps:test-grafana-scott
    spec:
      destination:
        name: in-cluster
        namespace: "pr-{{ .number }}-scott-monitoring"
      project: apps
      source:
        directory:
          recurse: true
        path: deploy/
        repoURL: https://github.com/syoder89-homelab/homelab-apps
        targetRevision: "{{ .head_sha }}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
---
# Source: application-generator/templates/applicationset.yaml
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ephemeral-test-grafana-taylor
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: homelab-apps:test-grafana-taylor
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - pullRequest:
      github:
        # The GitHub organization or user.
        owner: syoder89-homelab
        # The Github repository
        repo: homelab-apps
      filters:
      - targetBranchMatch: "^env/test/grafana-taylor$"
      requeueAfterSeconds: 180
  template:
    metadata:
      name: "pr-{{ .number }}-test-grafana-taylor"
      namespace: argocd
      annotations:
        kargo.akuity.io/authorized-stage: homelab-apps:test-grafana-taylor
    spec:
      destination:
        name: in-cluster
        namespace: "pr-{{ .number }}-taylor-monitoring"
      project: apps
      source:
        directory:
          recurse: true
        path: deploy/
        repoURL: https://github.com/syoder89-homelab/homelab-apps
        targetRevision: "{{ .head_sha }}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
---
# Source: application-generator/templates/applicationset.yaml
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ephemeral-test-home-assistant
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: homelab-apps:test-home-assistant
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - pullRequest:
      github:
        # The GitHub organization or user.
        owner: syoder89-homelab
        # The Github repository
        repo: homelab-apps
      filters:
      - targetBranchMatch: "^env/test/home-assistant$"
      requeueAfterSeconds: 180
  template:
    metadata:
      name: "pr-{{ .number }}-test-home-assistant"
      namespace: argocd
      annotations:
        kargo.akuity.io/authorized-stage: homelab-apps:test-home-assistant
    spec:
      destination:
        name: in-cluster
        namespace: "pr-{{ .number }}-home-assistant"
      project: apps
      source:
        directory:
          recurse: true
        path: deploy/
        repoURL: https://github.com/syoder89-homelab/homelab-apps
        targetRevision: "{{ .head_sha }}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
---
# Source: application-generator/templates/applicationset.yaml
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ephemeral-test-influxdb-scott
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: homelab-apps:test-influxdb-scott
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - pullRequest:
      github:
        # The GitHub organization or user.
        owner: syoder89-homelab
        # The Github repository
        repo: homelab-apps
      filters:
      - targetBranchMatch: "^env/test/influxdb-scott$"
      requeueAfterSeconds: 180
  template:
    metadata:
      name: "pr-{{ .number }}-test-influxdb-scott"
      namespace: argocd
      annotations:
        kargo.akuity.io/authorized-stage: homelab-apps:test-influxdb-scott
    spec:
      destination:
        name: in-cluster
        namespace: "pr-{{ .number }}-scott-monitoring"
      project: apps
      source:
        directory:
          recurse: true
        path: deploy/
        repoURL: https://github.com/syoder89-homelab/homelab-apps
        targetRevision: "{{ .head_sha }}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
---
# Source: application-generator/templates/applicationset.yaml
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ephemeral-test-kargo-config
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: homelab-apps:test-kargo-config
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - pullRequest:
      github:
        # The GitHub organization or user.
        owner: syoder89-homelab
        # The Github repository
        repo: homelab-apps
      filters:
      - targetBranchMatch: "^env/test/kargo-config$"
      requeueAfterSeconds: 180
  template:
    metadata:
      name: "pr-{{ .number }}-test-kargo-config"
      namespace: argocd
      annotations:
        kargo.akuity.io/authorized-stage: homelab-apps:test-kargo-config
    spec:
      destination:
        name: in-cluster
        namespace: "pr-{{ .number }}-homelab-apps"
      project: apps
      source:
        directory:
          recurse: true
        path: deploy/
        repoURL: https://github.com/syoder89-homelab/homelab-apps
        targetRevision: "{{ .head_sha }}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
---
# Source: application-generator/templates/applicationset.yaml
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ephemeral-test-mosquitto-taylor
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: homelab-apps:test-mosquitto-taylor
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - pullRequest:
      github:
        # The GitHub organization or user.
        owner: syoder89-homelab
        # The Github repository
        repo: homelab-apps
      filters:
      - targetBranchMatch: "^env/test/mosquitto-taylor$"
      requeueAfterSeconds: 180
  template:
    metadata:
      name: "pr-{{ .number }}-test-mosquitto-taylor"
      namespace: argocd
      annotations:
        kargo.akuity.io/authorized-stage: homelab-apps:test-mosquitto-taylor
    spec:
      destination:
        name: in-cluster
        namespace: "pr-{{ .number }}-taylor-monitoring"
      project: apps
      source:
        directory:
          recurse: true
        path: deploy/
        repoURL: https://github.com/syoder89-homelab/homelab-apps
        targetRevision: "{{ .head_sha }}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
---
# Source: application-generator/templates/applicationset.yaml
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ephemeral-test-mosquitto
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: homelab-apps:test-mosquitto
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - pullRequest:
      github:
        # The GitHub organization or user.
        owner: syoder89-homelab
        # The Github repository
        repo: homelab-apps
      filters:
      - targetBranchMatch: "^env/test/mosquitto$"
      requeueAfterSeconds: 180
  template:
    metadata:
      name: "pr-{{ .number }}-test-mosquitto"
      namespace: argocd
      annotations:
        kargo.akuity.io/authorized-stage: homelab-apps:test-mosquitto
    spec:
      destination:
        name: in-cluster
        namespace: "pr-{{ .number }}-mosquitto"
      project: apps
      source:
        directory:
          recurse: true
        path: deploy/
        repoURL: https://github.com/syoder89-homelab/homelab-apps
        targetRevision: "{{ .head_sha }}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
---
# Source: application-generator/templates/applicationset.yaml
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ephemeral-test-victoria-metrics-scott
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: homelab-apps:test-victoria-metrics-scott
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - pullRequest:
      github:
        # The GitHub organization or user.
        owner: syoder89-homelab
        # The Github repository
        repo: homelab-apps
      filters:
      - targetBranchMatch: "^env/test/victoria-metrics-scott$"
      requeueAfterSeconds: 180
  template:
    metadata:
      name: "pr-{{ .number }}-test-victoria-metrics-scott"
      namespace: argocd
      annotations:
        kargo.akuity.io/authorized-stage: homelab-apps:test-victoria-metrics-scott
    spec:
      destination:
        name: in-cluster
        namespace: "pr-{{ .number }}-scott-monitoring"
      project: apps
      source:
        directory:
          recurse: true
        path: deploy/
        repoURL: https://github.com/syoder89-homelab/homelab-apps
        targetRevision: "{{ .head_sha }}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
---
# Source: application-generator/templates/applicationset.yaml
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ephemeral-test-victoria-metrics-taylor
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: homelab-apps:test-victoria-metrics-taylor
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - pullRequest:
      github:
        # The GitHub organization or user.
        owner: syoder89-homelab
        # The Github repository
        repo: homelab-apps
      filters:
      - targetBranchMatch: "^env/test/victoria-metrics-taylor$"
      requeueAfterSeconds: 180
  template:
    metadata:
      name: "pr-{{ .number }}-test-victoria-metrics-taylor"
      namespace: argocd
      annotations:
        kargo.akuity.io/authorized-stage: homelab-apps:test-victoria-metrics-taylor
    spec:
      destination:
        name: in-cluster
        namespace: "pr-{{ .number }}-taylor-monitoring"
      project: apps
      source:
        directory:
          recurse: true
        path: deploy/
        repoURL: https://github.com/syoder89-homelab/homelab-apps
        targetRevision: "{{ .head_sha }}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
