---
# Source: grafana-taylor/charts/grafana/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: test-grafana
  namespace: test-taylor-monitoring
  labels:
    helm.sh/chart: grafana-10.5.15
    app.kubernetes.io/name: grafana
    app.kubernetes.io/instance: test-grafana
    app.kubernetes.io/version: "12.3.1"
spec:
  type: ClusterIP
  ports:
    - name: service
      port: 80
      protocol: TCP
      targetPort: grafana
  selector:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/instance: test-grafana
